@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --secondary: #141414;
    --tertiary: #C4C4C4;
  }

  ::selection {
    
  }

  .light {
    
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}